body {
    background-color: #242424;
    background-attachment: fixed;
}

.sidebar {
    width: 15vw;
    height: 100vh;
    display: block;
    position: fixed;
    padding: 25px;
    float: left;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: #B3B3B3;
    overflow: hidden;
}

.sidebarTop, .sidebarMiddleWrap {
    margin-bottom: 40px;
}

.sidebarBottomWrap {
    margin-bottom: 20px;
}

.sidebarLogo {
    width: 15vw;
}

.sidebarBottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    row-gap: 15px;
    font-family: "CircularStd-Black";
    font-size: 14px;
}

.sidebarIcon {
    width: 24px;
    height: 24px;
}

.sidebarItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.spc {
    width: 18px;
    height: 18px;
    padding: 3px;
    background: linear-gradient(135deg,#450af5,#c4efd9);
    /* background-color: linear-gradient(135deg, rgba(58, 13, 58, 1) 0.5%, rgba(255, 255, 255, 0.8) 95.53%); */
    border: none;
    border-radius: 2px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #282828;
    border: none;
}

.ct {
    width: 81vw;
    float: right;
}

.navCt, .navCtAdmin {
    background-color: rgba(0,0,0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    overflow: hidden;
}

.navLeft {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.navLeft img {
    padding: 5px;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.navLeft img:hover {
    background-color: #6c6c6c;
}

.navSearch {
    background-color: white;
    border: 1px solid #6c6c6c;
    border-radius: 25px;
    width: 364px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 0;
}

.navSearch input {
    border: none;
    font-size: 14px;
    font-family: "CircularStd-Light";
    text-align: left;
    color: #888888;
    width: 85%;
}

.navSearch input:focus {
    outline: none;
}

.navSearchIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    border: none;
    cursor: text;
}

.navRight {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #B3B3B3;
    column-gap: 20px;
}

.navItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
    border-radius: 25px;
    padding: 5px;
}

.navItems:hover {
    background-color: #535353;
}

.navIcon {
    width: 18px;
    height: 18px;
    padding: 5px;
    background-color: #B3B3B3;
    border: none;
    border-radius: 20px;
}

.navText {
    font-family: "CircularStd-Black";
    font-size: 14px;
}

.navCollapse {
    float: right;
    overflow: hidden;
}

.navCollapse, .navItems {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navDrop {
    font-family: "CircularStd-Medium";
    display: none;
    position: absolute;
    background-color: black;
    outline: 5px solid black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255,0.2);
    z-index: 1;

    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.navDrop:hover {
    background-color: #282828;
    display: block;
}

.navCollapse:hover .navDrop {
    display: block;
}

.queryCt {
    font-family: "CircularStd-Book";
    font-size: 16px;
    width: 76vw;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25vh;
}

.recentTitle {
    font-family: "CircularStd-Bold";
    font-size: 24px;
    color: white;
}

.queryMenu {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2vh 0;
    column-gap: 3vw;
    float: left;
    overflow: hidden;
}

.queryMenu:hover {
    cursor: pointer;
}

.filterChild {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filterCollapse {
    float: left;
    overflow: hidden;
}

.filterCollapse:hover .filterParent {
    border: 1px solid white;
    color: white;
}

.filterParent {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    border: 1px solid #6C6C6C;
    border-radius: 20px;
    font-family: "CircularStd-Medium";
    font-size: 16px;
    color: #6C6C6C;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.filterDrop {
    font-family: "CircularStd-Medium";
    display: none;
    position: absolute + 7px;
    background-color: black;
    outline: 5px solid black;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255,0.2);
    z-index: 1;

    color: white;
    text-decoration: none;
    text-align: left;
}

.filterChild:hover {
    background-color: #1ED760;
}

.filterCollapse:hover .filterDrop {
    display: block;
}

.queryResult {
    color: white;
    padding: 20px
}

.card {
    background-color: #121212;
    border-radius: 10px;
    padding: 12.5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 12.5vw;
    font-family: "CircularStd-Light";
    font-size: 14px;
    cursor: pointer;
}

.card:hover {
    background-color: #1a1a1a;
    scale: 1.05;
}

.card:active {
    background-color: #000;
}

.cardImage {
    width: 11.5vw;
    height: 11.5vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.songTitle {
    font-family: "CircularStd-Bold";
    font-size: 16px;
    margin-bottom: 5px;
}

.singer {
    margin-bottom: 2.5px;
}

.dateGenre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 5vh 0;
}

.page {
    font-family: "CircularStd-Medium";
    font-size: 16px;
    color: #6C6C6C;
    padding: 2px;
    width: 24px;
    text-align: center;
    border: 1px solid #6C6C6C;
    border-radius: 20px;;
}

.page:hover {
    cursor: pointer;
}

.footerPage {
    width: 100%;
    color: white;
}

.footerTop {
    text-align: left;
}

.footerTopLeft {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20%;
    margin-bottom: 20px;
    width: 50vw;
}

.footerTopLeftItem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.5vh;
}

.footerTopLeftItemTitle {
    font-family: "CircularStd-Bold";
    width: max-content;
    font-size: 16px;
}

.footerTopLeftItems {
    font-family: "CircularStd-Light";
    width: max-content;
    font-size: 14px;
}

.footerTopRight {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

.footerTopRight i {
    width: 16px;
    height: 16px;
    padding: 12px;
    border-radius: 20px;
    background-color: #535353;
    color: white;
}

.footerTopRight i:hover {
    background-color: #292929;
    cursor: pointer;
}

.footerHr {
    width: 100%;
    border: none;
    background-color: 0.05px solid #6c6c6c;
}

.footerBottom {
    width: 100%;
    color: #A7A7A7;
    font-family: "CircularStd-Light";
    font-size: 14px;
}

.footerBottomLeft {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5%;
    width: 40vw;
}

.footerBottomRight {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footerBottomLeft a:link { 
    text-decoration: none;
    color: #A7A7A7;
}

.footerBottomLeft a:visited { 
    text-decoration: none; 
    color: #A7A7A7;
}

.footerBottomLeft a:hover { 
    text-decoration: underline; 
    color: white;
}

.footerBottomLeft a:active { 
    text-decoration: underline; 
    color: white;
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    .sidebar {
        padding: 25px 15px;
    }
    .sidebarBottom {
        font-size: 12px;
    }
    .sidebarItems {
        column-gap: 10px;
    }
    .footerTop {
        text-align: center;
    }
    .footerTopLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        row-gap: 5vh;
        width: 100%;
    }
    .footerTopLeftItem {
        justify-content: center;
        align-items: center;
    }
    .footerTopRight {
        justify-content: center;
        float: left;
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        padding: 25px 5px;
    }
    .sidebarBottom {
        font-size: 10px;
    }
    .sidebarItems {
        column-gap: 5px;
    }
}